@model bank.Models.LogIn
@using bank.Helper

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/" + AppHelper.CurrentLayout;
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Paswrd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paswrd)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
