@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Witam na stronie Banku</h1>
<p>Dostęp do bazy użytkowników ma tylko i wyłącznie admin (Login: admin, haslo: admin)</p>
